---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

// defaultLocale is "en"
const aboutURL = getRelativeLocaleUrl("en", "about");
const scientificProjectsUrl = getRelativeLocaleUrl("en", "scientifProjects");
const publicationsURL = getRelativeLocaleUrl("en", "publications");
const shopURL = getRelativeLocaleUrl("en", "shop");

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pathname = new URL(Astro.request.url).pathname;
// const currentPath = pathname.slice(4); // remove the first "/"
const splittedPathName = pathname.split("/"); // remove the first "/"
const currentPath = splittedPathName[splittedPathName.length - 1];
---

<nav
  class="flex bg-c-neutral-900 h-[50px] sticky top-0 z-50 text-slate-50 justify-between"
>
  <div class="home flex items-center ml-5">
    <a class={currentPath === "" ? "active" : ""} href={`/${lang}/`}
      >{t("nav.home")}</a
    >
  </div>
  <ul
    class="flex flex-row text-slate-50 gap-5 h-full items-center justify-center w-full"
  >
    <!-- <li class="">
      <a class={currentPath === "" ? "active" : ""} href={`/${lang}/`}
        >{t("nav.home")}</a
      >
    </li> -->
    <!-- <li>
      <a
        class={currentPath === "scientificProjects" ? "nav-active" : ""}
        href={`/${lang}/scientificProjects`}>{t("nav.pr")}</a
      >
    </li> -->
    <li>
      <a
        class={currentPath === "publications" ? "nav-active" : ""}
        href={`/${lang}/publications-projects`}
        >{t("nav.projects")} & {t("nav.publications")}</a
      >
    </li>
    <li>
      <a
        class={currentPath === "contact" ? "nav-active" : ""}
        href={`/${lang}/contact`}>{t("nav.contact")}</a
      >
    </li>
    <li>
      <a
        class={currentPath === "shop" ? "nav-active" : ""}
        href={`/${lang}/shop`}>{t("nav.shop")}</a
      >
    </li>
  </ul>

  <LanguagePicker />
</nav>
