---
// import { Props } from ;
interface Props {
  frontImage: string;
  frontImageAlt: string;
  frontText: string;
  backImage?: string;
  backImageAlt?: string;
  backText: string;
}

const {
  frontImage,
  frontImageAlt,
  frontText,
  backImage,
  backImageAlt,
  backText,
} = Astro.props;
---

<article
  class="flipping-card shadow-md rounded-sm group/card min-h-24 min-w-48 max-h-80 w-[400px] relative block"
>
  <slot name="front">
    <div
      class="front-container motion-reduce:transition-none transition-all ease-in-out duration-500 delay-100 group/front group-hover/card:rotate-y-180 relative h-full w-full"
    >
      <img
        src={frontImage ? frontImage : ""}
        class="absolute top-0 left-0 w-full h-full -z-10 object-cover"
        alt={frontImageAlt}
      />
      <div class="front absolute top-0 left-0 h-full text-xl">{frontText}</div>
    </div>
  </slot>
  <slot name="back">
    <div
      class="back-container motion-reduce:transition-none transition-all ease-in-out duration-500 delay-100 absolute top-0 rotate-y-180 left-0 group/back h-full w-full bg-black/90"
    >
      {
        backImage && backImageAlt && (
          <img
            src={backImage ? backImage : ""}
            class="absolute top-0 left-0 w-full h-full -z-10 object-cover"
            alt={backImageAlt}
          />
        )
      }
      <div
        class="back flex items-center justify-center top-0 left-0 h-full text-sm"
      >
        <!-- {backText} -->
        <Fragment set:html={backText} />
      </div>
    </div>
  </slot>
</article>

<style>
  .flipping-card {
    perspective: 1000px;
  }
  .front-container {
    z-index: 10;
  }

  .back-container {
    z-index: -10;
  }

  .flipping-card:hover .back-container {
    transform: rotateY(0deg);
    z-index: 10;
  }
  .flipping-card:hover .front-container {
    transform: rotateY(-180deg);
    z-index: -10;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }

  /* .front-container img,
  .back-container img {
    z-index: -1;
  } */
</style>
