---
// import { Props } from ;
interface Props {
  frontImage: string;
  frontImageAlt: string;
  frontText: string;
  backImage?: string;
  backImageAlt?: string;
  backText: string;
  title: string;
}

const {
  frontImage,
  frontImageAlt,
  frontText,
  backImage,
  backImageAlt,
  backText,
  title,
} = Astro.props;
---

<article
  class="f-card-refactored shadow-md group/card min-h-48 min-w-48 max-h-80 w-[400px] relative block"
>
  <slot name="front">
    <div
      class="front-container flex flex-col motion-reduce:transition-none transition-all ease-in-out duration-500 delay-100 group/front group-hover/card:rotate-y-180 relative h-full w-full"
    >
      <img
        src={frontImage ? frontImage : ""}
        class="absolute top-0 left-0 w-full h-full -z-10 object-cover"
        alt={frontImageAlt}
      />
      <h2 class="text-center text-2xl">{title}</h2>
      <div
        class="front-text absolute bottom-0 left-0 h-fit text-xl bg-neutral-50/90"
      >
        {frontText}
      </div>
      <span class="text-xs absolute bottom-4 right-4">-></span>
    </div>
  </slot>
  <slot name="back">
    <div
      class="back-container motion-reduce:transition-none transition-all ease-in-out duration-500 delay-100 absolute top-0 rotate-y-180 left-0 group/back h-full w-full bg-black/90"
    >
      {
        backImage && backImageAlt && (
          <img
            src={backImage ? backImage : ""}
            class="absolute top-0 left-0 w-full h-full -z-10 object-cover"
            alt={backImageAlt}
          />
        )
      }
      <div class="back absolute top-0 left-0 h-full text-sm">
        {backText}
      </div>
    </div>
  </slot>
</article>

<style>
  .f-card-refactored {
    perspective: 1000px;
  }
  .front-container {
    z-index: 10;
  }

  .back-container {
    z-index: -10;
  }

  .f-card-refactored:hover .back-container {
    transform: rotateY(0deg);
    z-index: 10;
  }
  .f-card-refactored:hover .front-container {
    transform: rotateY(-180deg);
    z-index: -10;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }

  /* .front-container img,
  .back-container img {
    z-index: -1;
  } */
</style>
